/* This is for reset the default css of the browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* This is for reset the default css of the browser */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
