.header {
  height: 95vh; /* The header will be 95% of the whole page*/
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8)),
    url(../img/hero.jpg); /* We are telling that we will have 2 backgrounds first the gradient and the the image*/
  background-size: cover; /* With this the image will become responsive*/
  background-position: top; /* The image will stay at the top of the container*/

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Each point represent the corner of the page from left to side in clockwise*/
  position: relative;

  &__logo-box { // Means .header
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
}
