.navigation {

  &__checkbox {
    display:none; // escondemos el checkbox porque con el truco de unir el input
    // con el label cuando le den click al botton label va a seleccionar el checkbox
    //automaticamente.
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center; /// esto es para centrar las rayas del boton
    cursor: pointer;
  }

  &__background { // esto es para hace el background que va a cubrir nuestra pagina.
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); //funcion para acelerar la transicion de lento a rapido
  }

  &__nav { // con esto nuestro contenedor lo ponemos encima de todo
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: 0; // con esto hacemos la barra de navehacion width 0 y los links desaparecen.
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;

  }

  &__item {
    margin: 1rem;

  }

  &__link {
    &:link, // link & visited is for the normal state of the button
    &:visited {
      display: inline-block; //this going together eith the transform: translateX(1rem);
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover, // Estas dos clases es para cuando haces el hover sobre el boton
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem); // mueve el ovjecto hacia la derecha
    }
  }

  &__checkbox:checked ~ &__background { // con esto cuando demos click al text box va a seleccionar la clase &__background y aplicar lo que este adentro
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav { // con esto cuando demos click al text box va a seleccionar la clase &__background y aplicar lo que este adentro
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
      transition: all .2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.8rem } //transform-origin: right se mueve desde su lugar de origin
    &::after { top: .8rem }
  }

  &__button:hover &__icon::before {
    top: -1rem
  }

  &__button:hover &__icon::after {
    top: 1rem
  }

  // el ::before y el ::after significa crear un nuevo elemento del mismo
  //por eso el ::before es la segunda linea y el ::after es la tercer linea

  &__checkbox:checked + &__button &__icon { //esto es para seleccionar al boton y al icono
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before { //esto es para seleccionar al boton y al icono
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after { //esto es para seleccionar al boton y al icono
    top: 0;
    transform: rotate(-135deg);
  }
}
